body {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-family: 'Roboto',arial, sans-serif;
  font-size: 1.5em;
  background: linear-gradient(135deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9)) no-repeat;
}

.wrapper{/*ajustar o rodapé*/
  min-height: 670px;
}
.top-section{/*Cabeçalho*/
  background: #1d2031;
  width: 100%;
  height: 80px;
}
.logo{
    padding-right: 180px;
}
.name {
  color:blue; 
  font-family: Verdana;
  font-size: 1.5em;
}
.table, th, td{
  border: 1px solid white;
  margin-top: 50px;
}
.footer{
    color: black;
    font-size: small;
    margin-top: 10px;
    padding-left:120px;
    padding-bottom: 50px;
}